//background color
$color-background-notOnly: rgba(33, 31, 32, 1);
$color-background-about: rgba(255, 255, 255, 1);
$color-background-oufFriends: rgba(246, 246, 246, 1);

//font color
$color-wite: rgba(255, 255, 255, 1);
$color-pink:rgba(241, 205, 179, 1);
$color-gray-dark: rgba(178, 178, 178, 1);
$color-dark: rgba(84, 84, 84, 1);
$color-dark-button: rgba(41, 41, 41, 1);
$color-dark-pet: rgba(76, 76, 76, 1);
$color-li: rgba(205, 205, 205, 1);

//width size
$content-width: 1200px;
$tablet-width: 768px;
$mobail-width: 320px;

//font size

